/* basic settings */
.Agenda { 
	-fx-skin: "jfxtras.agenda.AgendaWeekSkin";
}

.AgendaWeekSkin { 
}

.AgendaWeekSkin .Week {
	-fx-background-color: WHITE;
}

.AgendaWeekSkin .HourLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
}

.AgendaWeekSkin .HourLine {
	-fx-fill: transparent;
	-fx-stroke: LIGHTGRAY;
}

.AgendaWeekSkin .HalfHourLine {
	-fx-fill: transparent;
	-fx-stroke: LIGHTGRAY;
	-fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .DayHeader {
	-fx-border-color:LIGHTGRAY;
	-fx-border-width: 0px 0px 0px 1px;
}

.AgendaWeekSkin .DayHeader .weekend { 
	-fx-text-fill: BLACK;
	-fx-font-weight: bold;
}

.AgendaWeekSkin .Day {
	-fx-fill: transparent;
	-fx-stroke: transparent;
	-fx-border-color:LIGHTGRAY;
	-fx-border-width: 0px 0px 0px 1px;
}

.AgendaWeekSkin .weekend {
	-fx-background-color: #eeeeee90;
}
.AgendaWeekSkin .notAssigned {
	-fx-background-color: #C2C2C2;
}

/* TODO: for some reason this does not work: removing today from the style classes does not clear the grayish background 
.AgendaWeekSkin .today {
	-fx-background-color: #eeeeee90;
}
*/

.AgendaWeekSkin .Appointment {
	-fx-border-color: WHITE;
	-fx-border-width: 1px;
}

.AgendaWeekSkin .AppointmentTimeLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
	-fx-font-size: 0.8em;
}

.AgendaWeekSkin .AppointmentLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
}

.aqua { -fx-background-color: aqua; }
.seagreen { -fx-background-color: seagreen; }
.cadetblue { -fx-background-color: cadetblue; }
.blue { -fx-background-color: blue; }
.chartreuse { -fx-background-color: chartreuse; }
.darkgray { -fx-background-color: darkgray; }
.cyan { -fx-background-color: cyan; }
.darkgreen { -fx-background-color: darkgreen; }
.darkorange { -fx-background-color: darkorange; }
.darkviolet { -fx-background-color: darkviolet; }
.darkslateblue { -fx-background-color: darkslateblue; }
.firebrick { -fx-background-color: firebrick; }
.goldenrod { -fx-background-color: goldenrod; }
.indianred { -fx-background-color: indianred; }
.greenyellow { -fx-background-color: greenyellow; }
.maroon { -fx-background-color: maroon; }
.olive { -fx-background-color: olive; }
.yellow { -fx-background-color: yellow; }
.red { -fx-background-color: red; }
.orangered { -fx-background-color: orangered; }
.saddlebrown { -fx-background-color: saddlebrown; }
.purple { -fx-background-color: purple; }
.gold { -fx-background-color: gold; }
.sandybrown { -fx-background-color: sandybrown; }

.aqua-extraLesson { -fx-background-color: aqua; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.seagreen-extraLesson { -fx-background-color: seagreen; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.cadetblue-extraLesson { -fx-background-color: cadetblue; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.blue-extraLesson { -fx-background-color: blue; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.chartreuse-extraLesson { -fx-background-color: chartreuse; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.darkgray-extraLesson { -fx-background-color: darkgray; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.cyan-extraLesson { -fx-background-color: cyan; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.darkgreen-extraLesson { -fx-background-color: darkgreen; -fx-border-color:#ccffff !important; -fx-border-width : 2px !important; }
.darkorange-extraLesson { -fx-background-color: darkorange; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.darkviolet-extraLesson { -fx-background-color: darkviolet; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.darkslateblue-extraLesson { -fx-background-color: darkslateblue; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.firebrick-extraLesson { -fx-background-color: firebrick; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.goldenrod-extraLesson { -fx-background-color: goldenrod; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.indianred-extraLesson { -fx-background-color: indianred; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.greenyellow-extraLesson { -fx-background-color: greenyellow; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.maroon-extraLesson { -fx-background-color: maroon; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.olive-extraLesson { -fx-background-color: olive; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.yellow-extraLesson { -fx-background-color: yellow; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.red-extraLesson { -fx-background-color: red; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.orangered-extraLesson { -fx-background-color: orangered; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.saddlebrown-extraLesson { -fx-background-color: saddlebrown; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.purple-extraLesson { -fx-background-color: purple; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.gold-extraLesson { -fx-background-color: gold;  -fx-border-color:black !important; -fx-border-width : 2px !important; }
.sandybrown-extraLesson { -fx-background-color: sandybrown; -fx-border-color:black !important; -fx-border-width : 2px !important;}

.aqua-notAssigned { -fx-background-color: aqua; -fx-border-style: dotted !important; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.seagreen-notAssigned { -fx-background-color: seagreen; -fx-border-style: dotted !important; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.cadetblue-notAssigned { -fx-background-color: cadetblue; -fx-border-style: dotted !important; -fx-border-color:black !important; -fx-border-width : 2px !important; }
.blue-notAssigned { -fx-background-color: blue; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.chartreuse-notAssigned { -fx-background-color: chartreuse; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.darkgray-notAssigned { -fx-background-color: darkgray; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.cyan-notAssigned { -fx-background-color: cyan; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.darkgreen-notAssigned { -fx-background-color: darkgreen; -fx-border-color:#ccffff !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.darkorange-notAssigned { -fx-background-color: darkorange; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.darkviolet-notAssigned { -fx-background-color: darkviolet; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.darkslateblue-notAssigned { -fx-background-color: darkslateblue; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.firebrick-notAssigned { -fx-background-color: firebrick; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.goldenrod-notAssigned { -fx-background-color: goldenrod; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.indianred-notAssigned { -fx-background-color: indianred; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.greenyellow-notAssigned { -fx-background-color: greenyellow; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.maroon-notAssigned { -fx-background-color: maroon; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.olive-notAssigned { -fx-background-color: olive; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.yellow-notAssigned { -fx-background-color: yellow; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.red-notAssigned { -fx-background-color: red; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.orangered-notAssigned { -fx-background-color: orangered; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.saddlebrown-notAssigned { -fx-background-color: saddlebrown; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.purple-notAssigned { -fx-background-color: purple; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.gold-notAssigned { -fx-background-color: gold;  -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important; }
.sandybrown-notAssigned { -fx-background-color: sandybrown; -fx-border-color:black !important; -fx-border-style: dotted !important; -fx-border-width : 2px !important;}


.new{
    -fx-background-color: gold !important;
    -fx-border-color: blue !important;
    -fx-border-width : 3px !important;
}


/* same colors as the bar chart
.group0 { -fx-background-color: #f9d900; }
.group1 { -fx-background-color: #a9e200; }
.group2 { -fx-background-color: #22bad9; }
.group3 { -fx-background-color: #0181e2; }
.group4 { -fx-background-color: #2f357f; }
.group5 { -fx-background-color: #860061; }
.group6 { -fx-background-color: #c62b00; }
.group7 { -fx-background-color: #ff5700; } 
 */
 
.AgendaWeekSkin .DurationDragger {
	-fx-fill: #00000040;
        -fx-opacity: 0;
        
}

.AgendaWeekSkin .MenuIcon {
	-fx-fill: #00000040;	
}

.AgendaWeekSkin .GhostRectangle {
	-fx-fill: transparent;
	-fx-stroke: #00000080;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .Selected { 
	-xfx-color: -fx-focused-base;
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 6.4, 5, 4, 3;
}

.AgendaWeekSkin .Now {
	-fx-fill: #FF000088;
	-fx-stroke: WHITE;
}
.AgendaWeekSkin .History {
	-fx-stroke: transparent;
	-fx-fill: #FFFFFF70;
}

.AgendaPopup {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0 0 -1 0,0,1,2;
	-fx-background-radius: 5,5,4,3;
	-fx-padding: 0.766667em 0.733333em 0.75em 0.733333em;
	-fx-text-fill: -fx-text-base-color;
}

/* empty block causes an IndexOutOfBoundsException
.AgendaPopup .AppointmentGroups {
}
*/

.AgendaPopup .AppointmentGroup {
	-fx-border-color: WHITE;
	-fx-border-width: 1px;
}

.AgendaPopup .close-icon  {
    -fx-image: url("AgendaWeekSkinPopupCloseWindowIcon.png");
}

.AgendaPopup .delete-icon  {
    -fx-image: url("AgendaWeekSkinDeleteIcon.png");
}
