/* 
    Document   : login
    Created on : Dec 28, 2013, 4:47:56 PM
    Author     : d.michaelides
    Description:
        Purpose of the stylesheet follows.
*/
.image-background {
     -fx-background-image: url("../images/background.jpg");
}

root {
    display: block;
}
.main_background{
	-fx-background-color:lightblue;
/*    -fx-background-color: linear-gradient(#ccccff,#cccccc);*/
}
.custom_label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.bold_text{
    -fx-font-weight: bold;
}
#welcome_text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-text-fill: #818181;
    /*-fx-fill: #ffffff;*/
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7), 6, 0.0, 0, 2 );
}
.custom_button_ok{
    -fx-border-color: #009900;
    -fx-text-fill: #009900;
    -fx-background-radius: 90px;
    -fx-background-color: linear-gradient(#f6f9fa, #b4cfd6);
    /*-fx-background-color: #edffff;*/
    -fx-border-radius: 90px;
    /*-fx-effect: dropshadow( three-pass-box , #999999, 10 , 0.5, 1px , 1px );*/
}
.custom_button_ok:hover{
    -fx-background-color: linear-gradient(#b4cfd6, #f6f9fa);
    /*-fx-effect: null;*/
}

.custom_button_ok1{
    -fx-background-color: linear-gradient(#339900, #10ff10);
}
.custom_button_ok1:hover{
    -fx-background-color: linear-gradient(#10ff10, #339900);
}

.custom_button_paid{
    -fx-background-color: linear-gradient(#ef6666, #d12e2e);
}
.custom_button_paid:hover{
    -fx-background-color: linear-gradient(#d12e2e, #ef6666);
}
.custom_button_paid:pressed{
    -fx-background-color: linear-gradient(#ef6666, #ef6666);
}
.language:hover{
    -fx-background-color: #ffffff;
}
.page_title{
   -fx-font-size: 26px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-text-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7), 6, 0.0, 0, 2 );
}
.region_title{
   -fx-font-size: 13px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-text-fill: #0033CC;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7), 6, 0.0, 0, 2 );
}
.region_title_2{
   -fx-font-size: 12px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-text-fill: #71A4DD;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7), 6, 0.0, 0, 2 );
}

.confirm-button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
		-fx-background-insets: 0,1,2,3;
		-fx-background-radius: 3,2,2,2;
		-fx-padding: 4 9 4 9;
		-fx-text-fill: white;
		-fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.confirm-button:hover{
    -fx-background-color: 
        #000000,
        linear-gradient(#2f4b8f, #7ebcea),
        linear-gradient(#263e75, #426ab7),
        linear-gradient(#223768, #395cab);
}
.confirm-button:pressed{
/*    -fx-background-color: 
        #000000,
        linear-gradient(#2f4b8f, #2f4b8f),
        linear-gradient(#2f4b8f, #2f4b8f),
        linear-gradient(#2f4b8f, #2f4b8f);*/
    -fx-effect: null;
}
.confirm-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.down-arrow {
    -fx-opacity: 0.82;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.down-arrow:hover{
    -fx-opacity: 1;
}
.down-arrow:pressed{
    -fx-opacity: 1;
    -fx-effect: null;
}
.with-border {
    -fx-border-color: #333333;
    -fx-border-width: 0.5px;
    -fx-border-style: dashed;
    -fx-border-insets: -1;
}
.green-border-lesson{
    -fx-border-color: #009900;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-insets: -1;
}
.red-border-lesson{
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-insets: -1;
}

.delete-button {
    -fx-background-color: 
        #000000,
        linear-gradient(#d52626, #fe0101),
        linear-gradient(red, #ef6666),
        linear-gradient(#d12e2e, #a90808);
		-fx-background-insets: 0,1,2,3;
		-fx-background-radius: 3,2,2,2;
		-fx-padding: 4 9 4 9;
		-fx-text-fill: white;
		-fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.delete-button:hover{
    -fx-background-color: 
        #000000,
        linear-gradient(#fe0101, #d52626),
        linear-gradient(#ef6666, red),
        linear-gradient(#a90808, #d12e2e);
}
.delete-button:pressed{
    -fx-effect: null;
}
.delete-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.cancel-button {

    -fx-background-color: 
        linear-gradient(#f2f2f2, lightblue),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, lightblue 100%),
        linear-gradient(#dddddd 0%, lightblue 50%);
		
 /*-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
 */   
		
    -fx-background-radius: 3,2,2,2;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.cancel-button:hover {

    -fx-background-color: 
        linear-gradient(lightblue, #f2f2f2),
        linear-gradient(lightblue 0%, #d9d9d9 20%, #fcfcfc 100%),
        linear-gradient(lightblue 0%, #dddddd 50%);
}
.cancel-button:pressed {
    -fx-effect: null;
}
.regular_button{
    -fx-border-color: #001199;
    -fx-text-fill: #001199;
    -fx-background-radius: 90px;
    -fx-background-color: linear-gradient(#f6f9fa, #b4cfd6);
    -fx-border-radius: 90px;
}
.regular_button:hover{
    -fx-background-color: linear-gradient(#b4cfd6, #f6f9fa);
}
.regular_button:pressed{
    -fx-background-color: linear-gradient(#b4cfd6, #b4cfd6);
}
.region{
	-fx-opacity:0.4;
	-fx-background-color : lightgrey
}

.custom-region-border {
    -fx-border-color:#000099;
	-fx-padding: 2,2,2,2;
	-fx-spacing: 4;
	-fx-background-color : #47B2B2;
}
.custom-region{
	-fx-padding: 2,2,2,2;
	-fx-spacing: 4;
}
.triangle{
    -fx-fill: linear-gradient(BLUE, DODGERBLUE);
    -fx-effect: dropshadow( three-pass-box , BLACK , 12,0,0,0 );
}
.triangle:hover{
    -fx-fill: linear-gradient(DODGERBLUE, BLUE);
    -fx-effect: dropshadow( three-pass-box , BLACK , 12,0,0,0 );
}
.triangle:pressed{
    -fx-fill: BLUE;
    -fx-effect: dropshadow( three-pass-box , BLACK , 12,0,0,0 );
}


.grey_background{
    -fx-background-color: #c1c1c1;
    
}
.copyright{
    -fx-background-color: #ccffff;
}
.time-table-cell{
    -fx-background-color:lightgrey;
}
.time-table-cell:hover{
    -fx-border-color:red;
    -fx-background-color:grey;
}
.edit-button{
    -fx-opacity:0.3;
    -fx-background-color:transparent;
/*    -fx-background-radius: 90px;
    -fx-border-radius: 90px;*/
}
.edit-button:hover{
    -fx-opacity:0.7;
/*    -fx-effect: dropshadow( three-pass-box , BLACK , 12,0,0,0 );*/
/*    -fx-border-color:blue;*/
}
.edit-button:pressed{
    -fx-opacity:1;
/*    -fx-effect: null;*/
/*    -fx-border-color:blue;*/
/*    -fx-background-color:lightblue;*/
/*    -fx-background-color:#CCFFFF;*/
}

.text-area-view{
    -fx-background-color:#EEEEEE;
}
.text-area-view .content{
    -fx-cursor : default;
}
.text-area-invisible  {
    -fx-background-color:lightblue;
}
.text-area-invisible .content{
    -fx-background-color:lightblue;
}

.class-cell{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color:lightGrey;
}
.class-cell .content{
    -fx-cursor : default ;
}
.time-cell{
}
.time-cell .content{
    -fx-background-color:#cccccc;
}
.time-cell2{
}
.time-cell2 .content{
    -fx-background-color:#dddddd;
}
.red-border{
    -fx-border-color: red;
}
	


/* =============== STYLE ALL SCROLL BARS ================================================= 
.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 3;
}
.scroll-bar .thumb {
    -fx-background-color: #33ADFF;
    -fx-background-insets: 0;
    -fx-background-radius: 0.3em;
}
.scroll-bar .track  {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-radius: 0.3em;
}
.scroll-bar .increment-button {
    -fx-background-color: null;
}
.scroll-bar:horizontal .increment-button {
    -fx-padding: 0.3em 0 0.3em 0;
}
.scroll-bar:vertical .increment-button {
    -fx-padding: 0 0.3em 0 0.3em;
}
.scroll-bar .decrement-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}
.corner {
    -fx-background-color: transparent;
}
*/

.custom-row-good {
    -fx-background-color: #CCEBD6;
}
.custom-row-bad {
    -fx-background-color: #F0B2B2;
}
.custom-row-good:hover {
    -fx-background-color: whitesmoke;
}
.custom-row-bad:hover {
    -fx-background-color: whitesmoke;
}
.custom-row-good:selected .text {
    -fx-fill: #0033CC;
}
.custom-row-bad:selected .text{
    -fx-fill: #0033CC;
}